form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: center;
    width: 30vh;
    row-gap: 1em;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    row-gap: 2em    ;

}

.task__section{
    background-color: antiquewhite;
    padding: 3em;
}

h1{
    color: rgb(105, 99, 99);
    text-transform: uppercase;
}